h1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../宇都宮駅西口.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    padding: 100px 50px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    background-color: #ccccee;
    padding: 5px;
}

h3 {
    background-color: #cccc;
    padding: 2px;
}

.sidebar {
    position: fixed;
    /* これでスクロールしても固定される */
    top: 0;
    /* 画面の上端に固定 */
    left: 0;
    /* 画面の左端に固定 */
    width: 150px;
    height: 100vh;
    /* 画面の高さに合わせる */
    background: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    /* 内容が多い場合スクロール可能にする */
}


.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.coment {
    font-size: 12px;
}

.main-content {
    flex: 1;
    /* 残り幅を占有 */
    padding: 20px;
    box-sizing: border-box;
}